body {
    background-color: #E0A874;
    color: #FAF9F9;
}

h1 {
    color: #3D2B23;
}

h2 {
  color: #A93016;
}

p {
    padding: 10px;
    font-size: 20px;
}

button {
    margin-right: 10px;
}

.cute-burger {
    height: 100px;
    width: 100px;
    margin-left: 50%;
    margin-right: 50%;
}

.left {
    background-color: #74A753;
    border: 3px solid #3D2B23;
    border-radius: 10px;
}

.right {
    background-color: #D9AB2B;
    border: 3px solid #3D2B23;
    border-radius: 10px;
}
